$act: #eb423f;
$hov: #f0ab30;
$a: #626262;
$a1: #454545;
$a2: #8c8c8c;
$a3: #bfbebe;
$b: #090909;
$b1: #171717;
$btn: #ff4141;
$bg: #252525;
$w: #e3e3e3;
$blue: #61b1f1;
$blue-deep: #2979ff;
$border: #e3e9ef;
$green: #6dfaee;
$o: #FFCC80;
$l: rgb(106, 235, 1);
$l-light: #a6acd4;
$deep-green: #00897b;
$deep-blue: #90a4ae;
$deep-gray: #455a64;
//  ====================================