@import '../../scss/common/colors.scss';

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  overflow: auto;
  overflow-y: auto;

}

--Paper-shadow {}

.MuiModal-backdrop {
  background: transparent !important;
}

.mesSvg {
  width: 100%;
  height: 100%;
  background: transparent !important;

  .css-10d30g3-MuiPaper-root-MuiDialog-paper {
    background: transparent !important;
  }

  svg {

    display: block;
    width: 110%;
    height: 60%;
  }

  h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    min-width: 300px;

  }
}

.closeModal {
  position: absolute !important;
  left: auto;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;

}

.modalContent {
  padding: 20px 40px 10px 20px !important;
  min-width: 300px;
  min-height: 200px;
  background: transparent !important;

}

.messageText {
  padding: 5px !important;
  border-radius: 5px;
  background-color: $blue;
  color: white;
  position: absolute;
}